html {
font-family:Roboto, sans-serif;
}

.card {
border:5px solid #000;
border-radius:10px;
width:330px;
height:500px;
position:relative;
padding:0;
}

.card.dev {
border-color:#3a87ad;
}

.card.design {
border-color:#b94a48;
}

.card.qa {
border-color:#468847;
}

.card.events {
border-color:#c09853;
}

.text-reward {
color:#f89406!important;
}

.card card-title {
display:block;
line-height:40px;
height:40px;
font-size:20px;
background-color:#FFF;
color:EEE;
padding:0 10px;
}

.card card-title .badge {
margin-top:8px;
line-height:20px;
height:20px;
font-size:20px;
}

.card card-title .points {
float:right;
color:#D00;
}

.card card-title .reward {
float:right;
margin-right:10px;
color:#f89406;
}

.card .coin {
display:inline-block;
width:17px;
margin-top:7px;
margin-left:5px;
height:22px;
line-height:22px;
border:2px solid #f89406;
border-radius:12px;
background-color:#f89406;
color:#FFF;
padding:0 0 0 5px;
}

.card card-img {
display:block;
width:322px;
height:200px;
background-size:cover;
border-left:0 solid #fff;
border-right:0 solid #fff;
}

.card.events card-abilities {
display:none;
}

.card card-abilities {
display:block;
width:330px;
height:60px;
}

.card card-abilities .ability {
line-height:60px;
height:60px;
font-size:25px;
text-align:center;
display:inline-block;
width:106px;
}

.card.quests card-abilities {
padding-left:7px;
}

.card.quests card-abilities .ability {
width:61px;
font-size:23px;
}

.card card-abilities .ability.disabled {
opacity:.4;
}

.card card-abilities .ability span {
display:inline-block;
width:30px;
}

.card card-desc {
display:block;
min-height:160px;
background-color:#fAfAfA;
padding:10px 10px 0;
}

.card card-desc blockquote {
font-style:italic;
font-size: 14px !important;
}

.card card-footer {
position:absolute;
display:block;
width:100%;
bottom:0;
font-size:80%;
color:grey;
}
