<div class="row-fluid">
  <h1 class="page-header">
    Spielregeln
    <small>In Arbeit.</small>
  </h1>
  <p>
    <strong>PM - The Game</strong> ist ein Open Source Projekt, an dem jeder mitarbeiten kann.
  </p>

  <h2>Kartentypen</h2>

	<dl class="dl-horizontal">
	  <dt>Mitarbeiter</dt>
	  <dd>Designer, Frontend-, Backend-Entwickler, Analysten - Halt alle die ein Projekt am laufen halten</dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>Projekte</dt>
	  <dd>Projekte haben eine Anforderung und einen Zeitrahmen. Schaffst Du es mit Deinen Helden das Projekt zu bezwingen?</dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>Ereignisse</dt>
	  <dd>"Events simulieren unkalkulierbare und völlig unerwartete Ereignisse, also das höhere Management Deiner Firma. 
Kannst Du Dein Projekt trotz aller Widrigkeiten abschliessen?"</dd>
	</dl>


  <h2>Spielziel</h2>

  <p>
   Gewinne, indem Du vor allen anderen Spielern eine bestimmte Anzahl von Projektpunkten erspielst.
   Jedes erfolgreich abgeschlossene Projekt ist 1-5 Punkte wert.
  </p>

  <h2>Regeln</h2>
  <ul>
	<li>Jeder Spieler startet mit 20 Budget Punkten</li>
	<li>Jedes abgeschlossene Projekt bringt Budgetpunkte</li>
  </ul>

  <h2>Dashboard</h2>	
  
  <p>
	Das Dashboard ist eine DIN A5 Karte, die vor einen Spieler ausgelegt wird und das aktuelle Projekt beheimatet.
  </p>
  

  <ul>
	<li>Auf den Skalen werden bei einem neuen Projekt über Spielsteine die benötigten Werte markiert.</li>
	<li>Jede Runde wird die Zeit um einen Punkt nach unten verschoben.</li>
	<li>Je nachdem welche Helden eingesetzt werden, werden ebenfalls die Eigenschaftsbalken runtergezählt.</li>
  </ul>
  
  <img src="/images/dashboard.jpg">


</div>
