

<div style="text-align:left;width:330px;height:550;margin-left:auto;margin-right:auto;padding:20px;">
  <div style="text-align:left;width:330px;height:550;margin-left:auto;margin-right:auto;padding:20px;">
    <card card-data="ctrl.card">
    </card>
  </div>
</div>

<div class="jumbotron">
  <h1>PM - The Game</h1>
  
  <p class="lead">
    Ein Kartenspiel,
	bei dem Du die Rolle eines Projektmanagers einnimmst.
  </p>
  
  <div class="btn-group">
    <a href="#/about" class="btn btn-large btn-info">
      <i class="icon-book"></i>
      Anleitung
    </a>
    <a href="#cards" class="btn btn-large btn-success">
      <i class="icon-info-sign"></i>
      Karten
    </a>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team + the PM Game commiter</p>
</div>
